*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-weight: bold;
}
html {
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #eee;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 31.25rem;
  margin: 2rem;
  padding: 2.5rem;
  border-radius: 1rem;
  background: #800000;
  box-shadow: 1px 1px 3px #400000;
}
.container > h1 {
  margin-bottom: 3rem;
  font-size: 2.25rem;
  text-align: center;
  color: #fff;
}
.form {
  display: flex;
  flex-direction: column;
}
.form label {
  margin-left: 0.75rem;
  font-size: 1.375rem;
  color: #ccc;
}
.form input {
  width: 100%;
  margin-bottom: 1rem;
}
.form input:not([type='button']) {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 2rem;
  font-weight: bold;
  background: #700000;
  color: #fff;
}
.form input:not([type='button']):hover,
.form input:not([type='button']):focus {
  outline: none;
  box-shadow: 0 0 0 2px #800000, 0 0 0 4px #700000;
  filter: brightness(95%);
}
.form input[type='button'] {
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.75rem;
  outline: none;
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  background: #00cd00;
  color: #fff;
}
.form input[type='button']:hover {
  outline: none;
  box-shadow: 0 0 0 1px #800000, 0 0 0 3px #00cd00;
  filter: brightness(90%);
}
.form input[type='button']:focus {
  outline: none;
}
.result {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10.9375rem;
  margin-top: 2rem;
  padding: 0.75rem;
  border: 0.1875rem solid #700000;
  border-radius: 0.75rem;
  font-size: 1.625rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
.result span {
  font-weight: bold;
}
.result span.red {
  color: orange;
}
.result span.green {
  color: limegreen;
}
.result span.error {
  letter-spacing: -0.1rem;
  color: #fff;
}
.author {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 1.5625rem 2rem 1.5625rem;
  font-weight: bold;
}
.author p {
  padding: 0 0.4375rem;
}
.author p:nth-child(1) {
  font-size: 1.4375rem;
  color: #aaa;
}
.author p:nth-child(2) {
  font-size: 1.625rem;
  text-decoration: underline;
  color: #aaa;
}

@media (max-width: 31.25rem) {
  .container {
    padding: 1.75rem;
  }
  .container > h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .form label {
    font-size: 1.25rem;
  }
  .form input:not([type='button']) {
    padding: 0.25em 1rem;
    font-size: 1.75rem;
  }
  .form input[type='button'] {
    font-size: 1.625rem;
  }
  .result {
    height: 9.375rem;
    margin-top: 1rem;
  }
  .author p:nth-child(1) {
    font-size: 1.25rem;
  }
  .author p:nth-child(2) {
    font-size: 1.4375rem;
  }
}

@media (max-height: 50rem) {
  body {
    height: auto;
  }
}
